.shop {
  display: flex;
  max-width: 1120px;
  justify-content: center;
  margin: 0 auto;
}

.product-box {
  width: 80%;
  padding: 10px 0;
  border-right: 1px solid lightgray;
}

.cart-box {
  width: 20%;
}
